.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 0px 0px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  background-color: #4945ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: pointer;
}
