.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/background.svg');
  background-size: cover;
  width: 100vw;
  padding: 0;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 30px;
    @media screen and (max-width: 400px) {
     padding: 0px;
    }
    label {
      text-align: start;
      width: 300px;
      font-weight: 500;
      color: #636262;
    }
    input {
      width: 300px;
      margin: 10px;
      border-radius: 4px;
      border: 0;
      padding: 5px;
      outline: none;
      background-color: #ede6de;
      color: #636262;
    }
    textarea {
      width: 300px;
      border-radius: 4px;
      border: 0;
      padding: 5px;
      outline: none;
      background-color: #ede6de;
      margin: 10px;
      color: #636262;
    }
    button {
      margin: 10px;
      border: 0;
      padding: 15px;
      background-color: #1d9e4f;
      color: #fff;
      box-shadow: 1px 1px 17px #00000030;
    }
    .copy {
      background-color: #ee6123;
    }
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
  }
  .link {
    label {
      display: flex;
      justify-content: center;
    }

    h3 {
      margin-top: 2px;
      margin-bottom: 5px;
      color: #ee6123;
      text-align: center;
      
    }
  }
  button {
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
