.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);

  background-size: cover;
  width: 100vw;
  padding: 0;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 30px;
    @media screen and (max-width: 400px) {
      padding: 0px;
    }
    label {
      text-align: start;
      width: 300px;
      font-weight: 500;
      color: #181111;
    }
    input {
      width: 300px;
      font-weight: 500;
      font-size: 15px;
      margin: 15px;
      border-radius: 4px;
      border: 0;
      padding: 5px;
      outline: none;
      background-color: #ede6de;
      color: #181111;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    }
    textarea {
      width: 300px;
      font-weight: 500;
      font-size: 15px;
      border-radius: 4px;
      border: 0;
      padding: 5px;
      outline: none;
      background-color: #ede6de;
      margin: 10px;
      color: #181111;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    }
    button {
      margin: 5px;
      border: 0;
      padding: 15px;
      background-color: #06283d;
      color: #fff;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    }
    .copy {
      background-color: #edf2fe;
      color: #06283d;
      font-weight: 600;
    }
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
  }
  .link {
    label {
      display: flex;
      justify-content: center;
    }

    h3 {
      margin-top: 2px;
      margin-bottom: 5px;
      color: #0137be;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }
  }
  button {
    width: 100px;
    border-radius: 4px;

    cursor: pointer;
    font-weight: 500;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
