.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef1fb;
  background-size: cover;
  flex-wrap: wrap;
  padding: 0;
  .row {
    margin: 0px 40px;
    .flexLabel {
      display: flex;
      width: 350px;
      justify-content: space-between;
    }
    .title {
      text-align: center;
      font-size: 60px;
      margin: 0;
      color: #494848;
    }
    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      padding: 30px;
      @media screen and (max-width: 400px) {
        padding: 0px;
      }
      label {
        text-align: start;
        font-weight: 500;
        color: #181111;
      }
      input {
        width: 350px;
        font-weight: 500;
        font-size: 15px;
        margin: 15px;
        border-radius: 4px;
        border: 0;
        padding: 5px;
        outline: none;
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 15%) 0px 11px 28px;
        color: #181111;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
      textarea {
        width: 350px;
        height: 100px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 4px;
        border: 0;
        padding: 5px;
        outline: none;
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 15%) 0px 11px 28px;
        margin: 10px;
        color: #181111;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
      button {
        width: 350px;
        margin: 5px;
        border: 0;
        border-radius: 8px;
        padding: 15px;
        background-color: #00c79d;
        box-shadow: rgb(0 0 0 / 15%) 0px 11px 28px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
      }
      .copy {
        background-color: #865aed;
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .row:nth-child(2) {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
  }
  .link {
    display: flex;
    width: 350px;
    justify-content: space-between;
    label {
      display: flex;
      justify-content: center;
    }

    h3 {
      margin-top: 2px;
      margin-bottom: 5px;
      color: #865aed;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
  }
  button {
    width: 100px;
    border-radius: 4px;

    cursor: pointer;
    font-weight: 500;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .alert {
    color: #D61C4E;
  }
}
