.textInput {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 16px;
  }
  input {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #4a4a6a;
    padding: 16px 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    outline: none;
  }
}
