.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    background-color: #1F2029;
    padding: 8px;
    color: #fff;
    font-weight: 500;
  }
  