.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    background-color: #00BB8C;
    padding: 5px;
    color: #fff;
    font-weight: 700;
  }
  